@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;800&family=Roboto&display=swap');

:root {
  /* Variables con paleta de colores de la web */
  --col-grey: #e8e8e8;
  --col-darkgrey: #353535;
  --col-white: #ffffff;
  --col-crema: #fff8e8;
  --col-main-red: #d52941;
  --col-secundary-red: #990d35;

  /* Variables con fuentes de la web */
  --font-main: 'Open Sans', sans-serif;
  --font-secundary: 'Roboto', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: var(--font-main);
}

img {
  display: block;
  max-width: 100%;
}

/* Tipografias */
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

/* Navigation */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1.6rem;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  color: var(--col-main-red);
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

nav a {
  display: inline-block;
  padding: 0.8rem 2rem 0.8rem 2rem;
  color: var(--col-darkgrey);
  text-decoration: none;
  border-radius: 0.2rem;
}

nav a:hover {
  background-color: var(--col-main-red);
  color: var(--col-white);
  transition: all 0.5s ease;
}

/* Hero Banner */
.hero {
  background-color: var(--col-grey);
  display: flex;
  flex-direction: column;
  padding: 25px 0 0 0;
}

.cta h2 {
  color: var(--col-darkgrey);
}

.cta p {
  color: #808080;
}

.button {
  padding: 1rem;
  margin-top: 1rem;
  color: var(--col-main-red);
  font-family: var(--font-secundary);
  font-weight: 600;
  border-radius: 0.2rem;
  border: 1px solid var(--col-main-red);
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
}

.button:hover {
  background-color: var(--col-main-red);
  color: var(--col-white);
  transition: all 0.5s ease;
  cursor: pointer;
}

/* Media Queries */

@media only screen and (min-width: 750px) {
  .hero {
    background-color: var(--col-grey);
    display: flex;
    flex-direction: row;
  }

  .social,
  .cta {
    display: flex;
    flex-direction: column;
    flex: 0 1 18%;
    margin-left: 20px;
    justify-content: center;
    align-items: flex-start;
  }

  .social svg {
    padding: 30px;
  }

  .picture {
    flex: 0 1 30%;
  }

  .cta {
    flex: 0 1 50%;
  }

  .cta h1 {
    font-size: 4rem;
    color: var(--col-main-red);
    text-transform: uppercase;
  }

  .logo {
    display: flex;
    flex: 0 1 20%;
  }
  nav {
    flex: 0 1 90%;
  }
}
